.DS_Store

readme.rst
license.txt
index.php
contributing.md
composer.json
user_guide/*
system/*
index.html
.htaccess
application/third_party/*
application/libraries/*
application/language/*
application/hooks/*
application/helpers/*
application/core/*
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
